*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    background: transparent;
    font-family:'Poppins';
}
body{
    background: rgb(20, 16, 19);
    color:rgb(255, 255, 255);
    overflow:hidden;
    overflow-y:scroll;
    
}